<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 150px; background-size: cover; background-position: center top;">
  <span class="mask bg-gradient-danger opacity-8"></span>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Novo Lançamento</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && salvar(f)" novalidate>
            <h5 class="text-muted mb-4">Ganhos total diários</h5>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="uber">Uber</label>
                    <input type="number" class="form-control form-control-alternative"
                      name="uber" #uber="ngModel" [(ngModel)]="lancamento.uber" required>
                    <div *ngIf="f.submitted && uber.invalid" class="text-danger">
                      <div *ngIf="uber.errors.required">preenchimento obrigatório ou inválido</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="novenove">99</label>
                    <input type="number" id="novenove" class="form-control form-control-alternative" 
                      name="novenove" #novenove="ngModel" [(ngModel)]="lancamento.novenove" required>
                    <div *ngIf="f.submitted && novenove.invalid" class="text-danger">
                      <div *ngIf="novenove.errors.required">preenchimento obrigatório ou inválido</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="cabify">Cabify</label>
                    <input type="number" id="cabify" class="form-control form-control-alternative" 
                      name="cabify" #cabify="ngModel" [(ngModel)]="lancamento.cabify" required>
                      <div *ngIf="f.submitted && cabify.invalid" class="text-danger">
                        <div *ngIf="cabify.errors.required">preenchimento obrigatório ou inválido</div>
                      </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="particular">Particular <i>(Obs: lotação ou por fora)</i></label>
                    <input type="number" id="particular" class="form-control form-control-alternative" 
                      name="particular" #particular="ngModel" [(ngModel)]="lancamento.particular" required>
                      <div *ngIf="f.submitted && particular.invalid" class="text-danger">
                        <div *ngIf="particular.errors.required">preenchimento obrigatório ou inválido</div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Data do dia trabalhado</label>
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                      </div>
                      <input class="form-control" type="date" placeholder="Select date" name="date" name="dataTrabalho"
                        #dataTrabalho="ngModel" [(ngModel)]="lancamento.dataTrabalho" required>
                    </div>
                    <div *ngIf="f.submitted && dataTrabalho.invalid" class="text-danger">
                      <div *ngIf="dataTrabalho.errors.required">preenchimento obrigatório</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h5 class="text-muted mb-4">Gastos diários</h5>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="combustivel">Combustível</label>
                    <input type="number" id="combustivel" class="form-control form-control-alternative" 
                      name="combustivel" #combustivel="ngModel" [(ngModel)]="lancamento.combustivel" required>
                      <div *ngIf="f.submitted && combustivel.invalid" class="text-danger">
                        <div *ngIf="combustivel.errors.required">preenchimento obrigatório ou inválido</div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="refeicao">Refeição</label>
                    <input type="number" id="refeicao" class="refeicao form-control form-control-alternative" 
                      name="refeicao" #refeicao="ngModel" [(ngModel)]="lancamento.refeicao" required>
                      <div *ngIf="f.submitted && combustivel.invalid" class="text-danger">
                        <div *ngIf="combustivel.errors.required">preenchimento obrigatório ou inválido</div>
                      </div>
                  </div>
                </div>
              </div>
              <input type="hidden" id="usuario" class="refeicao form-control form-control-alternative" 
                      name="usuario" #usuario="ngModel" [(ngModel)]="lancamento.usuario.codigo">
              <div class="row">
                <div class="col-lg-12">
                  <button type="submit" class="btn btn-info">Salvar</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>